{% extends "base.html" %}

{% block title %}Edit Subject{% endblock %}

{% block page_title %}Edit Subject{% endblock %}

{% block content %}

<style>

.card{
    background:white;
    max-width:700px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

label{
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

.btn{
    background:#1976d2;
    color:white;
    padding:10px 18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

</style>

<div class="card">

<form method="POST">

{% csrf_token %}

{{ form.as_p }}

<button class="btn" type="submit">
Update Subject
</button>

</form>

</div>

{% endblock %}